* {
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}

html, body, #container {
  height: 100%;
}

.hidden {
  display: none;
}

.panel {
  background-color: #fafafa;
  border: solid 1px #ccc;
  border-radius: 2px;
  font-family: 'Arial', sans-serif;
  padding: 10px;
}

.djs-label {
  font-family: 'Arial', sans-serif;
}

